*{
    padding: 0;
    margin: 0;
    outline: none;
}

@font-face {
    font-family: 'satoshi';
    src: url(../font/Satoshi-Variable.ttf);
    font-weight: 700;
}


body{
    background: #111;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Satoshi';
    font-weight: 700;
    margin-bottom: 0;
}

h1{
    font-size: 37px;
    font-weight: 500;
    padding: 30px 0;
    color: #F43883;
}
h2{
    font-size: 20px;
    font-weight: 500;
}


.kamoNav{

    .navbar{
        padding: 10px 0;
        border-bottom: 1px solid #ffffff21;
        justify-content: space-between !important;
    }

    
    ul{

        .nav-item{
            border: 1px solid #ffffff21;
            padding: 10px 20px;
            border-radius: 7px;
            align-items: center;

            &:nth-child(1){
                border: none;
                padding: 0;
            }
        }
        li{
            margin-left: 20px;

            .nav-link{
                color: #fff;
                padding-top: 20px;

                img{
                    margin-right: 10px;
                    margin-bottom: 5px;
                }
            }
        }
       
       
       

       .bal-area{
            padding: 10px 0 0;
            font-size: 13px;
            color: #fff;

            span img{
                width: 22px;
                height: 22px;
                border-radius: 100%;
                margin-right: 5px;
            }
       }

       .log-btn {
            font-family: 'Satoshi';
            font-weight: 900;
            padding: 8px 0;
            border: 1px solid #F43883;
            border-radius: 5px;
            text-decoration: none;
            color: #F43883;
            width: 120px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            margin-left: 20px;
        }
    }
    
    
}



// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

    .logo img {
        height: 34px;
    }

    .log-btn {
        margin-left: 20px !important;
        width: 50px !important;
        padding: 5px !important;
        font-size: 11px !important;
    }
    .navbar-brand {
        margin-right: 0 !important;
    }

    .kamoNav .nav-item {
        padding: 10px 14px !important;
        margin-left: 0px !important;
    }

    .kamoNav ul {
        padding: 0;
    }
    
    .kamoNav ul .bal-area {
        font-size: 11px;
        padding: 0 !important;

        li {
            margin-left: 0px !important;
        }
    }

    br{
        display: none;
    }
    .cash-btn {

        button{
            font-size: 11px !important;

        }
    }

    .deposit-content {
        padding: 0 !important;
    }
    
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

    .mobile{
        display: none;
    }

    br{
        display: none;
    }
    
    .bal-area{
            padding: 10px 0 ;
            line-height: 20px;
        p{
            font-size: 11px;
        }
    }

    .deposit-grid{
        grid-template-columns: 1fr !important;
    }
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

    .navbar-nav{
        flex-direction: row !important;
    }

    .bal-area{
        padding: 5px 10px !important;
        
        p{
            font-size: 11px;
        }
    }
    
}




.kamo-title{
    padding-top: 30px;
    text-align: center;

    .title-prize{
        color: #FFFFFF99;
        padding-top: 10px;
    }

    span{
        color: #F43883;
    }

    strong{
        color: #fff;
    }

    .title-tx{
        font-family: 'Satoshi';
        font-weight: 700;

        h4{
            font-size: 22px;
            padding-bottom: 6px;
            color: #fff;
        }

        p{
            color: #ffffff7a;
            a{
                color: #F43883;
            }
        }
    }
}


.deposit-content{
    margin-top: 20px;
    padding: 20px;

    .deposit-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .deposit{
        color: #fff;
        padding: 20px;
        background: #ffffff10;
        border-radius: 10px;

        

        .nav-tabs{
            border-bottom: 1px solid #ffffff21;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-content: center;
            justify-content: center;
            align-items: center;
            justify-items: center;

            .nav-item{
                width: 100%;
                

                button{
                    font-size: 15px;
                    font-weight: 700;
                    width: 100%;
                    color: #ffffff30;
                }
                
            }

            .nav-link{
                color: #fff;
                background: none;
                border: 0;
            }
            .nav-link.active{
                border-bottom: 2px solid #fff;
                color:#fff;
            }

        }

        .tab-content{

            #withdraw{

                .title{
                    padding-top: 10px;
                }

                hr{
                    margin: 15px 0;
                }
            }

            .title{
                padding-top: 25px;
                padding-bottom: 10px;
                display: flex;
                font-size: 15px;
                text-transform: uppercase;

                span{
                    margin-left: auto;
                }
            }


            .deposit-from{


                .from-input{
                    position: relative;
                    background: #ffffff1a;
                    height: 42px;
                    border: 1px solid #ffffff2e;
                    border-radius: 5px;

                    input{
                        background: #ffffff1f;
                        color: #fff;
                        width: 100%;
                        font-family: 'Satoshi';
                        font-weight: 500;
                        font-size: 15px;
                        border: 0;
                        height: 100%;
                        padding: 15px;
                    }


                    .kda-btn {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-content: center;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        text-transform: uppercase;
                        padding: 8px 12px;
                        border: 0;
                        border-radius: 5px;
                        background: #d9d9d91a;
                        color: #fff;
                        border: 1px solid #ffffff2e;

                        img{
                            width: 22px;
                            height: 22px;
                            border-radius: 100%;
                        }
                    }

                    .max-btn{
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        background: #d9d9d91a;
                        border: 0;
                        padding: 5px 8px;
                        border-radius: 5px;
                        color: #ffffff99;
                    }

                    
                }

                .address-from{


                    span{
                        border-bottom: 1px solid;
                        color: #fff;
                        opacity: 0.3;
                    }

                    .submit-btn{
                        width: 100%;
                        border: 0;
                        height: 50px;
                        background: #f43883;
                        color: #fff;
                        font-family: 'Satoshi';
                        font-weight: 700;
                        font-size: 16px;
                        border-radius: 5px;
                    }

                    hr{
                        margin: 25px 0;
                    }
                }
            }

            .cash-btn{
                display: flex;
                margin: 0;
                padding: 0;
                
                button {
                    margin: 5px;
                    background: #ffffff10;
                    border: 1px solid #ffffff21;
                    border-radius: 5px;
                    font-family: 'Satoshi';
                    font-weight: 700;
                    font-size: 12px;
                    color: #ffffff70;
                    width: 65px;
                    height: 35px;
                }
                .active{
                    color: #fff;
                    border: 1px solid #fff;
                }
            }
        }
    }

    

   
}


.footer-area{
    padding: 50px 0 30px;
    line-height: 40px;

    .copy-right{
        color: #fff;

        p{
            font-size: 14px;
            color: #ffffff6a;
        }

    }

    .social-icon{
        margin-left: auto !important;
        list-style: none;
        gap: 20px;

        li{
            width: 40px;
            height: 40px;
            line-height: 30px;
            background: #55ACEE;
            text-align: center;
            border-radius: 50px;
        }
    }
}



.deposit-prize{
    color: #fff;
    background: #ffffff10;
    border-radius: 10px;
    text-align: center;
    padding: 30px 0;
    align-items: center;


    
    .prize{

        

        .prize-btn{
            background: #D9D9D933;
            border: 0;
            padding: 0 10px;
            border-radius: 5px;
            color: #fff;
         }
    }
    
}

.total-area{


    .total-prizes{
        color: #fff;
        padding: 20px;
        margin: 0 auto;
        background: #ffffff10;
        border-radius: 10px;
        text-align: center;
        margin-top: 20px;

        .hr{
            margin: 30px 0; 
        }

        h2{
            font-size: 20px;
        }

        .count{
            font-family: 'Satoshi';
            font-weight: 700;
            padding-top: 20px;
            font-size: 32px;
            color: #f43883;
        }
    }
}